header {
    background-color: transparent;
}

body {
    background-color: #d1c7c7;
    background-image: url(/Images/cream-paper.textClipping);
    min-width:300px;
    min-height:120px;
}

#timeField {
    background: transparent;
    color: Black;
    font-size: 14px;
    border: solid;
    border-width: 1px;
}

#extractField {
    background: transparent;
    color: Black;
    border: none;
    outline: none;
    font-size: 14px;
}